$headerHeight: 5vh;

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: $headerHeight;

  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;

  .navBar {
    width: 30vw;
    padding-left: 2vw;

    ul {
      display: flex;
      flex-direction: row;

      li {
        list-style: none;
        padding: 0.5vw;
      }
    }
  }

  .title {
    display: flex;
    justify-content: center;
    width: 35vw;
    font-size: 24px;
  }

  .cart-icon {
    display: flex;
    justify-content: end;
  }

  .LoginComponent {
    display: flex;
    width: auto;
    padding-right: 15px;
  }
}

.header-bg {
  background-color: rgb(111, 96, 134);
}
