<section class="header header-bg">
  <nav id="navBar" class="navBar">
    <ul>
      <li>
        <a
          routerLink="home"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="about"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >About</a
        >
      </li>
      <li>
        <a
          routerLink="products"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Products</a
        >
      </li>
      <li>
        <a
          routerLink="contact"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Contact us</a
        >
      </li>
    </ul>
  </nav>
  <div id="title" class="title">𝓓𝓮𝓮𝓹 𝓡𝓮𝓵𝓪𝔁𝓪𝓽𝓲𝓸𝓷</div>

  <a
    routerLink="cart"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    (click)="convertCartToLS()"
    class="justify-end"
    style="flex-grow: 1"
  >
    <i class="material-icons cart-icon">shopping_cart</i></a
  >

  <!-- TO DO: Style anchor tag, after, hover etc. Add number for items in cart on icon 16/1 -->
  <!-- TO DO: Wrap login anchor in button tag 12/1 -->
  <div class="justify-end" style="padding: 5vw">
    <a
      routerLink="login"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <div
        id="LoginComponent"
        class="LoginComponent"
        (click)="logoutFromHeader()"
      >
        {{ checkAuthentication() ? "Logout" : "Login" }}
      </div>
    </a>
  </div>
</section>
