<h1>PRODUCTS</h1>
<div class="full-width-height flex-row" style="background-image: none">
  <div *ngFor="let product of productsList" class="product-container">
    <h4>
      {{ product.name }}
    </h4>
    <img src="{{ product.imageURL }}" alt="" class="product-img" />
    <span>{{ product.description }}</span>
    <p>${{ product.price }}</p>

    <div>
      Quantity:
      <select
        name="quantity"
        id="quantity"
        [formControl]="quantityControl"
        [(ngModel)]="product.quantity"
      >
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div>

    <section class="addtocart-btn-container">
      <button (click)="goToProductDetail(product)">More Info</button>
      <button (click)="addToCart(product)">Add to cart</button>
    </section>
  </div>
</div>
