<h1>PRODUCTS</h1>
<div class="full-width-height flex-row" style="background-image: none">
  <div *ngFor="let product of productsList" class="product-container">
    <h4>
      {{ product.name }}
    </h4>
    <img src="{{ product.imageURL }}" alt="" class="product-img" />
    <span>{{ product.description }}</span>
    <p>{{ product.price }}</p>

    <div>
      Quantity:
      <select name="quantity" id="quantity" aria-placeholder="Quantity">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </div>
    <section class="addtocart-btn-container">
      <button (click)="addToCart(product)">Add to cart</button>
    </section>
  </div>
</div>
