<section class="full-width-height" style="display: grid; place-items: center">
  <h1>My cart</h1>
  <div class="cart-items-container" *ngFor="let cartItem of lsItems">
    <img src="{{ cartItem.imageURL }}" alt="" />
    <div class="flex-center-items">
      <h4>{{ cartItem.name }}</h4>
    </div>
    <span>Size: {{ cartItem.size }}</span>
    <div>
      <span>{{ cartItem.quantity }}</span>
    </div>
    <div>
      <span> {{ cartItem.price }}</span>
    </div>
  </div>
  <span>Total sum: {{ totalSum }}</span>
  <button class="purchase-btn">Proceed to checkout</button>
</section>
