<section class="dashboard-container">
  <div class="dashboard-row" *ngFor="let product of inventoryList">
    <span>ID: {{ product.id }}</span>
    <span>Name: {{ product.name }}</span>
    <span>Color: {{ product.color }}</span>
    <span>Size: {{ product.size }}</span>

    <!-- Display either the stock balance or the editable input based on editMode  -->
    <span *ngIf="!product.editMode; else editMode">
      In stock: {{ product.stock_balance }}

      <button (click)="startEditMode(product)">Edit</button>
    </span>

    <ng-template #editMode>
      <input type="number" [(ngModel)]="product.updatedStockBalance" />
      <button (click)="saveChanges(product)">Save</button>

      <button (click)="cancelEditMode(product)">Cancel edit</button>
    </ng-template>
  </div>
</section>
