* {
  margin: 0;
  scroll-behavior: smooth;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;

  background-image: url("assets/homepage-bg-wallpaper.jpg");
  background-size: cover;
  background-position: center;
}

.full-width-height {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}

.flex-center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: row;
}

.justify-end {
  display: flex;
  justify-content: end;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
