<section class="dashboard-container" style="flex-direction: column">
  <div class="dashboard-row" *ngFor="let order of ordersList">
    <span>ID: {{ order.id }}</span>
    <span>Last update: {{ order.created_at }}</span>

    <span>Customer ID: {{ order.placed_by }}</span>

    <span><button (click)="goToOrderDetail(order)">More details</button></span>

    <span>
      <label for="status-{{ order.id }}">Status: </label>
      <select id="status-{{ order.id }}">
        <option value="{{ order.status }}" disabled selected>
          {{ order.status | uppercase }}
        </option>
        <option value="CREATED">CREATED</option>
        <option value="IN PROCESS">IN PROCESS</option>
        <option value="SENT">SENT</option>
      </select>
    </span>
  </div>
  <div class="btn-container">
    <button type="submit" (click)="updateStatusChanges()">SAVE CHANGES</button>
  </div>
</section>
