html,
body {
  margin: 0;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  background: rgb(26, 62, 83);
  background: radial-gradient(
    circle,
    rgba(26, 62, 83, 1) 0%,
    rgba(100, 42, 108, 1) 35%,
    rgba(68, 0, 255, 1) 100%
  );
}

.dashboard-container {
  display: flex;
  height: 600px;
  width: 1200px;
  border: solid 2px;
}

.dashboard-row {
  display: flex;
  flex-direction: row;
  width: inherit;
  height: 5vh;
  padding: 2%;
  justify-content: space-between;
  border: solid 1px;
}

.full-width-height {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}

.flex-center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: row;
}

.justify-end {
  display: flex;
  justify-content: end;
}
