<div>
  <div
    class="content-wrapper"
    style="background-image: url(assets/login-bg-wallpaper.jpg)"
  >
    <div class="login-container">
      <h1>Login</h1>
      <form [formGroup]="loginForm" (ngSubmit)="submitUserLogin()" class="form">
        <label for="username">Username:</label>
        <input
          type="text"
          id="username"
          formControlName="username"
          class="field"
        />

        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="field"
        />

        <button type="submit">Login</button>
      </form>

      <div class="or-container">
        <p class="or">OR</p>
      </div>

      <asl-google-signin-button type="standard" size="large">
      </asl-google-signin-button>

      <span class="sign-up-text"
        >Don't have an account?
        <a
          routerLink="/register"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          style="padding-left: 10px"
        >
          Sign up here.</a
        ></span
      >
    </div>
  </div>
</div>
