<section class="full-width height" style="display: grid; place-items: center">
  <div class="dashboard-container">
    <div>
      <h4>
        Username: {{ this.userInfoFromSS.username || this.userInfoFromSS.name }}
      </h4>
    </div>
    <br />
    <h4>Email: {{ this.userInfoFromSS.email }}</h4>
  </div>
  <h2>My orders</h2>
  <div class="orders" *ngFor="let order of userOrders">
    <h3>Order ID: {{ order.id }}</h3>
    <br />
    Created at: {{ order.created_at }} <br />Total: {{ order.total_sum }}
    <br />
    <h4>Status: {{ order.status }}</h4>
    Order ID: {{ order.id }}
    <br />
  </div>
</section>
